body {
	margin: 0px;
}

#videoWrapper {
	margin: auto;
	display: flex;
	justify-content: center;
}

.aboutHeader {
/*	float: left;*/
	display: inline-block;
}


#aboutHeaderWrapper {
	display: flex;
	justify-content: center;
	height: 200px;
	width: 80%;
	margin: auto;
	
}

.birdPicture {
	/*width: 200px;*/
	height: inherit;
}

.ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog-titlebar {
	height: auto:
}

.myDialog {
	width: 400px;
	text-align: center;
}

.myInputField {
	width: 90%;
	margin: auto;
	text-align: center;
}

#newSynonym {
	margin: auto;
}

#navBar {
	height: 10%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
}

.navWrapper {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.navElement {
	display: inline-block;
	flex-grow: 1;
	width: 100%;
	height: auto;
	margin: 0px;
	float: left;
	background-color: blue;
	position: fixed;
	left: 0;
	top: 0;
}

#mainWrapper {
	width: 80%;
	margin: auto;
	padding: 5%;
	text-align: center;
	height: auto;
	/*margin-top: 200px;*/
	/*overflow: scroll;*/
}

#loginBlock {
	text-align: right;
	display: flex;
	flex-direction: column;
}

#aboutBlock {
	text-align: left;
}


.navLink {
	width: 30%;
	text-align: center;
	margin: auto;
}

.ui-dialog {
	position: fixed;
	top: 25%;
}
